p
  {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: 25px;
  }
  .line-1
  {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
  }

  .line-2
  {
    font-size: 25px;
    font-style: italic;
    color: red;
    margin-top: 10px;
  }
