.apple-text
{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  font-size: xx-large;
  text-align: center;
  font-size: 25px;
  background-color: #e34140;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.underline-apple-text:hover
{
  text-decoration: underline;
  cursor: pointer;
}
.underline-apple-text:active
{
  text-decoration: underline;
}

a
{
  color: white;
  
}
