p
{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.video-title
{
  font-weight: bold;
  padding-left: 5px;
  font-size: 18px;
  color: #212529;
  width: 280px;
  line-height: 20px;
  margin-bottom: 5px;
}

.video-views
{
  font-weight: lighter;
  padding-left: 5px;
  color: #606060;
  font-size: 14px;
  margin-bottom: 20px;
}

.video-author
{
  font-weight: lighter;
  padding-left: 5px;
  color: #606060;
  margin-top: 0px;
  font-size: 14px;
  margin-bottom: 20px;

}

.video-description
{
  font-weight: lighter;
  padding-left: 5px;
  color:#606060;
  margin-top: 0px;
  font-size: 14px;
  width: 280px;
  line-height: 22px;
}
